.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-top: 0;
}

.info p {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  20% { transform: translate(-1px, 0px) rotate(0.5deg); }
  30% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(0.5deg); }
  50% { transform: translate(-1px, 1px) rotate(-0.5deg); }
  60% { transform: translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(1px, 1px) rotate(-0.5deg); }
  80% { transform: translate(-1px, -1px) rotate(0.5deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-0.5deg); }
}

.questionContainer.highlighted {
    outline: 2px solid red;
    animation: shake 0.7s;
    animation-iteration-count: infinite;
}


.submitBtn {
    width: 200px;
    align-self: center;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid orange;

    border-radius: 2rem;
    height: 3rem;
    font-size: 1.5rem;
    color: white;
}

.submitBtn:active {
    background: rgba(255, 255, 255, 0.5);
}
/* MCQ questions */

.optionsList {
    padding: 1rem;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 2rem;
}

.option {
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.option > * {
    height: 100%;
}

.option label {
    padding-left: 1rem;
}


/* OE questions */
.OEcontainer {
    width: 100%;
    padding: 1rem 0;
}

.OEcontainer textarea {
    padding: 1rem;
    width: 100%;
    resize: none;
    font-size: 1.1rem;
}

/* Slider Questions */
.sliderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sliderContainer .slider {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1rem;
}

.sliderContainer .slider p {
    padding: 0.5rem;
}

.sliderContainer .slider input {
    width: 100%;
}

.sliderContainer > p:last-child {
    font-size: 1.5rem;
    font-weight: bold;
}